// USE THIS FILE FOR ADDITIONAL CSS, BUT NOT FOR MODIFYING VARIABLES!
// SEE _override.scss FOR CUSTOMISING VARIABLES
.inline-image {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
