// USE THIS FILE FOR ADDITIONAL CSS, BUT NOT FOR MODIFYING VARIABLES!
// SEE _override.scss FOR CUSTOMISING VARIABLES
.inline-image {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
}

.project-description {
  flex: 1 0 60%;
}

.project-picture {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  // flex: 1 0 40%;
}

@media screen and (max-width: 650px) {
  .project-container {flex-wrap: wrap;}
}

.footnote-definition {
  display: grid;
  grid-template-columns: 1em 1fr;
  grid-template-rows: 1fr;
}

.footnote-body {
  display: inline-block;
  vertical-align: top;
}

.footnote-definition > sup {
  vertical-align: top;
  top: 0.8rem;
}

.mermaid {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
