// USE THIS FILE TO OVERRIDE VARIABLES, BUT NOT FOR ADDING CUSTOM CSS!
// SEE _custom.scss FOR CUSTOM CSS
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
$global-font-family: Raleway, system-ui, -apple-system, Segoe UI, Roboto, Emoji,
                     Helvetica, Arial, sans-serif;

$global-link-hover-color-dark: #eda907;

$header-title-font-family: $global-font-family;
